<% provide(:title, "About") %>
<h1>About</h2>
	<br>
	<div id="paragraph">
	<p>Jason Post is a composer and sound artist based in Wellington, New Zealand. His main interests and composition techniques stem from spectral music, soundscape studies and live electronics. He has just completed an MMus degree in Composition at the New Zealand School of Music in Wellington, supervised by Michael Norris and Dugal McKinnon.</p>

	<p>Jason's sound installations have been shown at the Adam Art Gallery at Victoria University of Wellington and at the Window Gallery at the University of Auckland. His music has been workshopped and played by the New Zealand String Quartet, the NZSM Orchestra, Karlheinz Company, and the SMP Ensemble. In 2013, he completed his first short film score for Unnatural History by Alex Backhouse, which had its international premiere at the 2014 Locarno Film Festival.</p>

	<p>Upcoming projects include the soundtrack and sound design for a new short film by Alex Backhouse, and a new work for flute and live electronics.</p>
</div>
