<% provide(:title, "Home") %>
<div class="center jumbotron" id="bigtitle">
	<br>
	<div id="paragraph">
		<p>Composer, Sound Artist, Developer</p>
		<p><hr></p>
		<table style="width:100%">
			<tr>
				<td>I'm interested in the intersection between acoustic and electronic music, in particular the use of electronic sound to extend the possibilities of acoustic instruments. My work has recently been played in NZ, Austria, Japan, the UK, and Uzbekistan. I also have a longstanding interest in ambient and experimental electronic music, which I have produced both independently (as Announce) and in collaboration with filmmaker <a href="http://thispagecannotbefound.tumblr.com/">Alex Backhouse.</a></td>
				<td class="middle_tab"></td>
				<td>As a developer, I've collaborated with a number of composers to code MaxMSP applications for works and sound installations. I have experience in Java, C/C++ and Python, and have created websites and web applications using Ruby on Rails and Javascript. I'm always interested in working on interesting sound based applications. Feel free to contact me <%=link_to "here.", contact_path %></td>
			</tr>
		</table>
	</div>
</div>
