<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Jason Post</h1>
<h2>Composer, Sound Artist, Developer</h2>
<br>
<p>Under construction. Find my current website <a href="http://www.jasonpost.info">here.</a></p>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
