<% provide(:title, "Software") %>
<h1>Software</h1>
<p id="paragraph">A few javascript applications and other things await... in the mean time, please see my <a href="https://github.com/jasonwpost">GitHub</a>.</p>
