@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

#message_content { 
  resize: none;
  width: 100%;
  height: 10em;
 }

 .button {
  color: white;
  background-color: rgba(100, 148, 55, 1);
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
 }

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

.alert-alert-recaptcha_error {
  display: none;
}

.alert-alert-error {
  color: black;
  text-align: center;
  background-color: rgba(255, 9, 11, 0.8);
  padding: 10px;
  border-radius: 20px;
}

.alert-alert-success {
  color: black;
  text-align: center;
  background-color: rgba(143, 223, 129, 0.92);
  padding: 10px;
  border-radius: 20px;

}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
h2 {
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
p{
font-size: 1.1em; line-height: 1.7em;
color: black;

}

#logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
}
 #logo:hover {
   color: #fff;
   text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: rgba(255, 255, 255, 0.7);
}
footer a:hover {
  color: white;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* header */

#heading {
  li{
    margin: 0 60px 0 0;
  }
}

#headTextCol{
  color: rgba(255, 255, 255, 0.6);
  
}

#headTextCol:hover {
    color: white;
  }

#headerColour {
  background-color: rgba(0, 0, 0, 0.5);
  border-style: none;
}

label {
  color: white;
  text-transform: uppercase;
}
