// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  background: url(https://www.dropbox.com/s/vrxfatrgn4mb7hj/bg.jpg?dl=0) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bigtitle {
	//background-color: rgba(255,255,255,0.6);
	background-color: transparent;
	color: white;
	display: table;
	width: 100%;
}

#paragraph{
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 15px;
}