<footer class="footer">
  <small>
  	This website is designed and maintained by Jason Post
  </small>
  <nav>
  	<ul>
  		<li><%= link_to "Help", help_path %></li>
  		<li><%= link_to "Contact", contact_path %></li>
  	</ul>
  </nav>
</footer>